*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  list-style: none;
}

/*Style generic(start)*/
.btn {
  border: none;
  background-color: transparent;
}
/*Style generic(end)*/

.container-major {
  display: grid;
  min-width: 375px;
}

/*Grid areas(start)*/
.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}
/*Grid areas(end)*/

/*header(start)*/
.header-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container-header-menu-location-sm-md-lg {
  display: flex;
  flex-direction: column;
}

.header-container-logo {
  display: flex;
  flex-direction: row;
}
/*header(end)*/

/*main(start)*/
.main-container {
  display: flex;
  flex-flow: row wrap;
}

/*section carousel(start)*/
.carousel-container {
  max-width: 1920px;
  max-height: 608px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.carousel-slide {
  width: 100%;
  flex-grow: 2;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.carousel-slide::-webkit-scrollbar {
  display: none;
}

.slide-content {
  flex: 0 0 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  background-color: #ccc;
  font-size: 24px;
  color: #333;
}

.content-img {
  width: 100%;
  height: 100%;
}

.carousel-controls {
  width: 100%;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.control-dots {
  display: flex;
  gap: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}
/*section carousel(end)*/

/*section popular products(start)*/
.section-carousel-popular-products {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.best-sellers {
  margin-top: 30px;
}

.popular-products-tittle {
  font-size: 18px;
  font-weight: 400;
}

.container-carousel-popular-products-item {
  position: relative;
  border-top: 1px solid rgba(236, 200, 200, 0.3);
  border-bottom: 1px solid rgba(236, 200, 200, 0.3);
}

.item-container-carousel-products {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: absolute;
}

.products-slide {
  width: 100%;
  height: 100%;
  padding-left: 15px;
  display: flex;
  gap: 30px;
  overflow-x: auto;
  scroll-snap-align: start;
}

.slide-content-card {
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.slide-content-card::before {
  content: '';
  position: absolute;
  top: 20px;
  right: -15px;
  width: 1px;
  height: 88%;
  background-color: rgba(236, 200, 200, 0.3);
}

.card-img {
  width: 100%;
  flex: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-item {
  width: 136px;
  height: 136px;
}

.card-body {
  flex: 60%;
  display: flex;
  flex-direction: column;

  .body-container-item:nth-child(5) {
    padding-top: 8px;
    display: flex;
    gap: 6px;

    .fa-solid {
      color: rgb(238, 238, 17);
    }
  }

  .body-container-item:nth-child(6) {
    padding-bottom: 8px;
    margin-top: auto;
    display: flex;
    justify-content: center;

    .btn-view-product {
      cursor: pointer;
      width: 100%;
      height: 30px;
      border: none;
      border-radius: 15px;
      background: rgb(73, 88, 103);

      .btn-span-text {
        color: rgb(248, 244, 244);
        font-weight: bold;
      }
    }
  }
}

.body-span-mark {
  letter-spacing: 2px;
  font-size: 14px;
}

.body-span-product {
  font-size: 14px;
  font-weight: 600;
}

.card-body > .body-container-item:nth-child(3) {
  padding-top: 3px;
  display: flex;
  align-items: center;
  gap: 8px;

  .body-span-price-offer {
    font-size: 20px;
  }

  .body-container-offer {
    color: white;
    width: 50px;
    height: 20px;
    border-radius: 6px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;

    .body-span-discount {
      font-size: 14px;
      font-weight: 600;
    }
  }
}
/*section popular products(end)*/

/*section card product offer(start)*/
.section-card-product-offer {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.section-card-product-offer-tittle:hover {
  cursor: pointer;
  background: rgba(167, 162, 162, 0.2);
}

.section-card-product-offer-movil,
.section-card-product-offer-tablet {
  width: 99%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  gap: 20px;
}

.product-offer-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 8px;
}

.container-card-item {
  flex: 0 0 46%;
  display: flex;
}

.card-item-img {
  width: 100%;
  height: 100%;
}
/*section card product offer(end)*/

/*section login shopping experience(start)*/
.section-login-shopping-experience {
  width: 100%;
  height: 30vw;
  margin-top: 30px;
  background-color: #eee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
/*section login shopping experience(end)*/

/*section credits fallabela(start)*/
.section-credits-fallabela {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.credits-fallabela-carousel-container {
  height: 100%;
  position: relative;
}

.container-items-cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: absolute;
}

.cards-slide-credits {
  width: 100%;
  height: 100%;
  padding-left: 15px;
  display: flex;
  gap: 30px;
  overflow-x: auto;
  scroll-snap-align: start;
}

.slide-credit-content {
  cursor: pointer;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-card-img {
  height: auto;
}

.content-card-body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.card-body-paragraph {
  color: rgb(50, 60, 71);
  font-size: 18px;
  line-height: 1.5px;
}

.slide-credit-content:hover {
  .card-body-paragraph {
    text-decoration: underline;
  }
}
/*section credits fallabela(end)*/

/*section register sell fallabela(start)*/
.section-register-sell-fallabela {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  height: auto;
}

.sell-fallabela-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-background-image {
  width: 96%;
  display: flex;
  flex-grow: 1;

  .image-link-movil {
    height: 100%;
    cursor: pointer;
    text-decoration: none;
  }

  .image-link-tablet-desktop {
    display: none;
  }
}

.background-img {
  width: 100%;
  height: 100%;
}
/*section register sell fallabela(end)*/

/*section fallabela actions(start)*/
.section-fallabela-actions {
  max-width: 1280px;
  width: 100%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fallabela-actions-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
}

.container-card-img-item {
  width: 100px;
  height: 100px;
  display: flex;
}

.card-span-item {
  text-align: center;
  font-size: 16px;
  line-height: 1rem;
  text-decoration: underline;
  color: #333;
}
/*section fallabela actions(end)*/

/*section links of interest(start)*/
.section-links-of-interest {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  background: rgba(203, 201, 201, 0.5);
  border-top: 1px solid #b8b7b7;
}

.container-links-list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item-div-list {
   
  ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  ul > li {
    list-style: disc;
  }

  ul > li > a {
    color: rgb(61, 61, 61);
  }
}
/*section links of interest(end)*/
/*main(end)*/

/*footer(start)*/
footer {
  color: #eee;
  width: 100%;
  border-top:  3px solid #d2cdcd;
  background-color: #0c2941;
}

.footer-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.container-div-list-interest,
.container-copyright {
  display: flex;
  align-items: center;
}
/*footer(end)*/

@media all and (min-width: 0) {
  .container-major {
    grid-template-columns: auto;
    grid-template-rows: 174px 1fr 581px;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  .container-header-menu-search-session-xl-xxl {
    display: none;
  }

  /*header(start)*/
  .header-container-logo {
    height: 36px;

    .container-logo-item {
      flex-grow: 1;
      display: flex;

      a {
        width: 100%;
        height: 100%;
      }
    }

    .container-logo-item:nth-child(2) {
      border-left: 1px solid rgba(10, 10, 10, 0.2);
      border-right: 1px solid rgba(10, 10, 10, 0.2);
    }

    .container-logo-item:nth-child(1) > a > .item-img {
      height: 36px;
      background-position: 50%;
      background-repeat: no-repeat;
      background-image: url("https://images.falabella.com/v3/assets/blt7c5c2f2f888a7cc3/blt0ec8e7392f212ae9/main_enabled.svg");
    }

    .container-logo-item:nth-child(2) > a > .item-img {
      height: 36px;
      background-position: 50%;
      background-repeat: no-repeat;
      background-image: url("https://images.falabella.com/v3/assets/blt7c5c2f2f888a7cc3/blt4c09611b59cb4ab4/sodimac_enabled.svg");
    }

    .container-logo-item:nth-child(3) > a > .item-img {
      height: 36px;
      background-position: 50%;
      background-repeat: no-repeat;
      background-image: url("https://images.falabella.com/v3/assets/blt7c5c2f2f888a7cc3/blt94ad9b607e6962c1/linio_enabled.svg");
    }
  }

  .header-container-menu {
    height: 97px;
    background-color: rgba(217, 211, 211, 0.15);
    display: flex;
    flex-direction: column;

    .container-menu {
      height: 47px;
      display: flex;

      .container-btn-market {
        width: 53px;
        height: 47px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .btn-market {
          width: 45px;
          height: 45px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0;
          gap: 6px;
        }

        .btn-market > span {
          display: block;
          width: 20.56px;
          height: 2px;
          background-color: gray;
        }
      }

      .menu-logo > a > .logo {
        width: 150px;
        height: 47px;
        background-image: url("https://images.falabella.com/v3/assets/blt088e6fffbba20f16/blt4c474b53ecc2a0ac/65e93b7882d68f0bd6d20cf9/falabella.com_green_icon_mobile.svg");
        background-position: 50%;
        background-repeat: no-repeat;
      }

      .container-session {
        width: 100%;
        height: 47px;
        display: flex;
        justify-content: end;
        padding-right: 4%;

        ul > div > li {
          display: flex;
        }

        ul > div > li:nth-child(2) > i {
          width: 45px;
          height: 45px;
          background-image: url("https://images.falabella.com/v3/assets/blt088e6fffbba20f16/blt8edd02a0bba037a2/6571a9a264c9db92e936ab5f/Mobile_Cart_Grey.svg");
        }
      }

      .container-session > ul,
      .container-session > ul > div {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .container-session > ul > div {
        gap: 8px;
      }

      .container-session > ul > div > li:nth-child(1) {
        text-decoration: underline;
      }
    }

    .container-search {
      height: 48px;
      display: flex;
      justify-content: center;
      position: relative;

      .item-input {
        width: 96%;
      }

      .item-input > input {
        width: 100%;
        height: 38px;
        border: 1px solid black;
        border-radius: 25px;
      }

      .item-input > input::placeholder {
        padding-left: 18px;
      }

      button {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background-color: rgb(88, 86, 86);
        position: absolute;
        right: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .header-container-location {
    height: 40px;
    background-color: rgba(217, 211, 211, 0.15);
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    color: rgb(88, 79, 79);
    font-weight: 600;
    padding-left: 3%;

    i {
      width: 40px;
      height: 40px;
      background-image: url("https://images.contentstack.io/v3/assets/blt7c5c2f2f888a7cc3/blt12bfc7a09b55ab55/6538d0cfd31953c6b30dbd57/gray_geofinder.svg");
    }
  }
  /*header(end)*/

  /*main(start)*/
  /*section-carousel-container(start)*/
  .section-carousel-container-movil {
    display: flex;
  }

  .section-carousel-container-tablet-desktop {
    display: none;
  }
  /*section-carousel-container(end)*/

  /*section popular products(start)*/
  .section-carousel-popular-products {
    height: 447px;
  }

  .container-carousel-popular-products-tittle-item {
    height: 40px;
    padding-left: 15px;
  }

  .container-carousel-popular-products-item {
    height: 395px;
  }

  .slide-content-card {
    height: 371px;
    flex: 0 0 192px;
  }

  .container-carousel-controls-popular-products-tablet {
    display: none;
  }
  /*section popular products(end)*/

  /*section products offer(start)*/
  .section-card-product-offer-tittle {
    width: 100%;
    flex: 0 0 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    .tittle-span-one {
      font-size: 20px;
      font-weight: 800;
      letter-spacing: 1px;
    }

    .tittle-span-two {
      font-size: 14px;
    }

    .tittle-span-three {
      font-size: 14px;
      color: rgb(61, 220, 61);
      font-weight: 800;
      letter-spacing: 1px;
    }
  }

  .section-card-product-offer-movil {
    display: flex;
  }

  .section-card-product-offer-tablet {
    display: none;
  }
  /*section products offer(end)*/

  /*section login shopping experience(start)*/
  .login-shopping-experience-item {
    width: 98%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .item-user-icon-container {
    color: white;
    width: 35px;
    height: 35px;
    background-color: rgb(48, 236, 48);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item-user-message-container {
    width: 226px;
  }

  .message-paragraph {
    color: #333;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }

  .btn-login {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    width: 145px;
    height: 26px;
    border-radius: 15px;
    background-color: #343434;
  }

  .btn-signup {
    color: #495867;
    font-size: 14px;
    font-weight: 600;
    width: 145px;
    height: 26px;
    border: 2px solid #495867;
    border-radius: 15px;
  }
  /*section login shopping experience(end)*/

  /*section brand advertising(start)*/
  .section-brand-advertising {
    width: 100%;
    margin-top: 30px;
  }

  .brand-advertising-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 8px;
  }

  .container-item-img {
    width: 48%;
    height: 48%;
  }
  /*section brand advertising(end)*/

  /*section fallabela actions(start)*/
  .action-container-card:nth-child(1),
  .action-container-card:nth-child(2) {
    cursor: pointer;
    flex: 0 0 100px;
    height: 215px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .action-container-card:nth-child(3),
  .action-container-card:nth-child(4),
  .action-container-card:nth-child(5) {
    cursor: pointer;
    flex: 0 0 100px;
    height: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .action-container-card:nth-child(3) {
    padding-top: 4px;
  }


  .action-container-card:nth-child(2) {
    margin-left: 8px;
  }

  .image-item-action-movil {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .image-item-action-desktop {
    display: none;
  }
  /*section fallabela actions(end)*/

  /*section list of interest(start)*/
  .section-links-of-interest {
    height: 1463px;
  }
  
  .links-of-interest-container {
    height: 1446px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .container-tittle-item {
    display: flex;
    gap: 14px;
  }

  .item-div-img {
    padding-top: 4px;
    width: 22px;
    height: 30px;
    
    img {
      width: 100%;
      height: 100%;
    }
  }

  .item-div-paragraph {
    width: 100%;
    
    p {
      text-decoration: underline;
      font-size: 22px;
      font-weight: 600;
      line-height: 25px;
    }
  }

  .container-group-links-items {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .item-paragraph-tittle {
    color: rgba(74, 74, 74, 1);
    font-size: 20px;
    font-weight: 500;
  }

  .container-links-list-item {
    flex-grow: 1;
  }

  .item-div-list {
    padding-left: 40px;
  }
  /*section list of interest(end)*/
  /*main(end)*/

  /*footer(start)*/
  .items-ul-links-laptops-desktops {
    display: none;
  }

  .container-div-list-interest {
    height: 61px;
    margin: 0 auto;
    width: 80%;
    border-bottom: 1px solid rgba(239, 233, 233, 0.5);
  }

  .item-tittle-paragraph {
    font-size: 16px;
    font-weight: 700;
  }

  .container-copyright:nth-child(1) {
    width: 80%;
    height: 189px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(239, 233, 233, 0.5);
  }

  .container-copyright:nth-child(1) > .container-copyright-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    p {
      font-weight: 600;
    }
  }

  .copyright-div-logos {
    display: flex;
    gap: 8px;
  }

  .div-logo-item {
    width: 32px;
    height: 32px;
    background-color:#495867;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 15px;
      height: 15px;
    }
  }

  .container-copyright:nth-child(2) {
    width: 80%;
    height: 144px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 20px;
  }

  .container-copyright:nth-child(2) > .container-copyright-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
      font-size: 12px;
      font-weight: 600;
    }
  }
  /*footer(end)*/
}

@media all and (min-width: 375px) {
  .container-major {
    grid-template-columns: auto;
    grid-template-rows: 174px 1fr auto;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  .container-header-menu-search-session-xl-xxl {
    display: none;
  }

  /*header(start)*/
  .header-container-logo {
    height: 36px;

    .container-logo-item {
      flex-grow: 1;
      display: flex;

      a {
        width: 100%;
        height: 100%;
      }
    }

    .container-logo-item:nth-child(2) {
      border-left: 1px solid rgba(10, 10, 10, 0.2);
      border-right: 1px solid rgba(10, 10, 10, 0.2);
    }

    .container-logo-item:nth-child(1) > a > .item-img {
      height: 36px;
      background-position: 50%;
      background-repeat: no-repeat;
      background-image: url("https://images.falabella.com/v3/assets/blt7c5c2f2f888a7cc3/blt0ec8e7392f212ae9/main_enabled.svg");
    }

    .container-logo-item:nth-child(2) > a > .item-img {
      height: 36px;
      background-position: 50%;
      background-repeat: no-repeat;
      background-image: url("https://images.falabella.com/v3/assets/blt7c5c2f2f888a7cc3/blt4c09611b59cb4ab4/sodimac_enabled.svg");
    }

    .container-logo-item:nth-child(3) > a > .item-img {
      height: 36px;
      background-position: 50%;
      background-repeat: no-repeat;
      background-image: url("https://images.falabella.com/v3/assets/blt7c5c2f2f888a7cc3/blt94ad9b607e6962c1/linio_enabled.svg");
    }
  }

  .header-container-menu {
    height: 97px;
    background-color: rgba(217, 211, 211, 0.15);
    display: flex;
    flex-direction: column;

    .container-menu {
      height: 47px;
      display: flex;

      .container-btn-market {
        width: 53px;
        height: 47px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .btn-market {
          width: 45px;
          height: 45px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0;
          gap: 6px;
        }

        .btn-market > span {
          display: block;
          width: 20.56px;
          height: 2px;
          background-color: gray;
        }
      }

      .menu-logo > a > .logo {
        width: 150px;
        height: 47px;
        background-image: url("https://images.falabella.com/v3/assets/blt088e6fffbba20f16/blt4c474b53ecc2a0ac/65e93b7882d68f0bd6d20cf9/falabella.com_green_icon_mobile.svg");
        background-position: 50%;
        background-repeat: no-repeat;
      }

      .container-session {
        width: 100%;
        height: 47px;
        display: flex;
        justify-content: end;
        padding-right: 4%;

        ul > div > li {
          display: flex;
        }

        ul > div > li:nth-child(2) > i {
          width: 45px;
          height: 45px;
          background-image: url("https://images.falabella.com/v3/assets/blt088e6fffbba20f16/blt8edd02a0bba037a2/6571a9a264c9db92e936ab5f/Mobile_Cart_Grey.svg");
        }
      }

      .container-session > ul,
      .container-session > ul > div {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .container-session > ul > div {
        gap: 8px;
      }

      .container-session > ul > div > li:nth-child(1) {
        text-decoration: underline;
      }
    }

    .container-search {
      height: 48px;
      display: flex;
      justify-content: center;
      position: relative;

      .item-input {
        width: 96%;
      }

      .item-input > input {
        width: 100%;
        height: 38px;
        border: 1px solid black;
        border-radius: 25px;
      }

      .item-input > input::placeholder {
        padding-left: 18px;
      }

      button {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background-color: rgb(88, 86, 86);
        position: absolute;
        right: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .header-container-location {
    height: 40px;
    background-color: rgba(217, 211, 211, 0.15);
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    color: rgb(88, 79, 79);
    font-weight: 600;
    padding-left: 3%;

    i {
      width: 40px;
      height: 40px;
      background-image: url("https://images.contentstack.io/v3/assets/blt7c5c2f2f888a7cc3/blt12bfc7a09b55ab55/6538d0cfd31953c6b30dbd57/gray_geofinder.svg");
    }
  }
  /*header(end)*/

  /*main(start)*/
  /*section-carousel-container(start)*/
  .section-carousel-container-movil {
    display: flex;
  }

  .section-carousel-container-tablet-desktop {
    display: none;
  }
  /*section-carousel-container(end)*/

  /*section popular products(start)*/
  .section-carousel-popular-products {
    height: 447px;
  }

  .container-carousel-popular-products-tittle-item {
    height: 40px;
    padding-left: 15px;
  }

  .container-carousel-popular-products-item {
    height: 395px;
  }

  .slide-content-card {
    height: 371px;
    flex: 0 0 192px;
  }

  .container-carousel-controls-popular-products-tablet {
    display: none;
  }
  /*section popular products(end)*/

  /*section products offer(start)*/
  .section-card-product-offer-movil {
    display: flex;
  }

  .section-card-product-offer-tablet {
    display: none;
  }
  /*section products offer(end)*/

  /*section login shopping experience(start)*/
  .login-shopping-experience-item {
    width: 98%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .item-user-icon-container {
    color: white;
    width: 35px;
    height: 35px;
    background-color: rgb(48, 236, 48);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item-user-message-container {
    width: 226px;
  }

  .message-paragraph {
    color: #333;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }

  .btn-login {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    width: 145px;
    height: 26px;
    border-radius: 15px;
    background-color: #343434;
  }

  .btn-signup {
    color: #495867;
    font-size: 14px;
    font-weight: 600;
    width: 145px;
    height: 26px;
    border: 2px solid #495867;
    border-radius: 15px;
  }
  /*section login shopping experience(end)*/

  /*section brand advertising(start)*/
  .section-brand-advertising {
    width: 100%;
    margin-top: 30px;
  }

  .brand-advertising-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 8px;
  }

  .container-item-img {
    width: 48%;
    height: 48%;
  }
  /*section brand advertising(end)*/

  /*section credits fallabela(start)*/
  .section-credits-fallabela,
  .container-items-cards {
    height: 343px;
  }

  .slide-credit-content {
    width: 247px;
    height: 300px;
  }

  .content-card-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-img-item {
    width: 227px;
    height: 226.55px;
  }

  .content-card-body {
    height: 34px;
  }
  /*section credits fallabela(end)*/

  /*section fallabela actions(start)*/
  .action-container-card:nth-child(2) {
    margin-left: 8px;
  }

  .image-item-action-movil {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .image-item-action-desktop {
    display: none;
  }
  /*section fallabela actions(end)*/

  /*section list of interest(start)*/
  .section-links-of-interest {
    height: 1463px;
  }
  
  .links-of-interest-container {
    height: 1446px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .container-tittle-item {
    display: flex;
    gap: 14px;
  }

  .item-div-img {
    width: 22px;
    height: 30px;
    
    img {
      width: 100%;
      height: 100%;
    }
  }

  .item-div-paragraph {
    
    p {
      text-decoration: underline;
      font-size: 21px;
      font-weight: 600;
      line-height: 25px;
    }
  }

  .container-group-links-items {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .item-paragraph-tittle {
    color: rgba(74, 74, 74, 1);
    font-size: 20px;
    font-weight: 500;
  }

  .container-links-list-item {
    flex-grow: 1;
  }

  .item-div-list {
    padding-left: 40px;
  }
  /*section list of interest(end)*/
  /*main(end)*/

  /*footer(start)*/
  .items-ul-links-laptops-desktops {
    display: none;
  }

  .container-div-list-interest {
    height: 61px;
    margin: 0 auto;
    width: 80%;
    border-bottom: 1px solid rgba(239, 233, 233, 0.5);
  }

  .item-tittle-paragraph {
    font-size: 16px;
    font-weight: 700;
  }

  .container-copyright:nth-child(1) {
    width: 80%;
    height: 189px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(239, 233, 233, 0.5);
  }

  .container-copyright:nth-child(1) > .container-copyright-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    p {
      font-weight: 600;
    }
  }

  .copyright-div-logos {
    display: flex;
    gap: 8px;
  }

  .div-logo-item {
    width: 32px;
    height: 32px;
    background-color:#495867;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 15px;
      height: 15px;
    }
  }

  .container-copyright:nth-child(2) {
    width: 80%;
    height: 144px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 20px;
  }

  .container-copyright:nth-child(2) > .container-copyright-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
      font-size: 12px;
      font-weight: 600;
    }
  }
  /*footer(end)*/
}

@media all and (min-width: 768px) {
  .container-major {
    grid-template-columns: auto;
    grid-template-rows: 179px 1fr 581px;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  .container-header-menu-search-session-xl-xxl {
    display: none;
  }

  /*header(start)*/
  .header-container-logo {
    justify-content: start;

    .container-logo-item {
      flex-grow: 0;
      flex-basis: 136px;
    }

    .container-logo-item:nth-child(2) {
      border-left: 1px solid rgba(10, 10, 10, 0.2);
      border-right: 1px solid rgba(10, 10, 10, 0.2);
    }

    .container-logo-item:nth-child(3) {
      border-right: 1px solid rgba(10, 10, 10, 0.2);
    }

    .container-logo-item:nth-child(1) > a > .item-img {
      height: 36px;
      background-position: 50%;
      background-repeat: no-repeat;
      background-image: url("https://images.falabella.com/v3/assets/blt088e6fffbba20f16/blt41977f5fb4360541/65e88caf5fd476794b74fa68/falabella.com_green_store_tab.svg");
    }

    .container-logo-item:nth-child(2) > a > .item-img {
      height: 36px;
      background-position: 50%;
      background-repeat: no-repeat;
      background-image: url("https://images.falabella.com/v3/assets/blt088e6fffbba20f16/bltccc5a7e27f9cab2f/6418aba238ab2c1b60a4bc29/logo-homecenter-our-stores.svg");
    }

    .container-logo-item:nth-child(3) > a > .item-img {
      height: 36px;
      background-position: 50%;
      background-repeat: no-repeat;
      background-image: url("https://images.falabella.com/v3/assets/blt088e6fffbba20f16/blta5a44443cc0e501c/63b6ff659233961262fbd64c/logo-linio.svg");
    }
  }

  .header-container-menu {
    .container-menu {
      padding-left: 1%;
    }

    .container-menu > .container-session {
      padding-right: 3%;
    }
  }

  .header-container-location {
    height: 45px;
    background-color: white;
    font-weight: 600;
    padding-left: 2%;
    border: solid rgb(248, 244, 244);
  }
  /*header(end)*/

  /*main(start)*/
  /*section-carousel-container(start)*/
  .section-carousel-container-movil {
    display: none;
  }

  .section-carousel-container-tablet-desktop {
    display: flex;
  }
  /*section-carousel-container(end)*/

  /*section popular products(start)*/
  .section-carousel-popular-products {
    height: 466px;
  }

  .container-carousel-popular-products-tittle-item {
    height: 30px;
    padding-left: 15px;
  }

  .container-carousel-popular-products-item,
  .item-container-carousel-products {
    height: 376px;
  }

  .slide-content-card {
    height: 343px;
    flex: 0 0 192px;
  }

  .container-carousel-controls-popular-products-tablet {
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
  }
  /*section popular products(end)*/

  /*section products offer(start)*/
  .section-card-product-offer {
    width: 96%;
  }

  .section-card-product-offer-tittle {
    width: 99%;
    flex: 0 0 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    .tittle-span-one {
      font-size: 30px;
      font-weight: 800;
      letter-spacing: 1px;
    }

    .tittle-span-two {
      font-size: 25px;
    }

    .tittle-span-three {
      font-size: 25px;
      color: rgb(61, 220, 61);
      font-weight: 800;
      letter-spacing: 1px;
    }
  }

  .section-card-product-offer-movil {
    display: none;
  }

  .section-card-product-offer-tablet {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .product-offer-container {
    width: 98%;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 8px;
  }

  .product-offer-container > .container-card-item:nth-child(1) {
    flex: 0 0 50%;
  }

  .product-offer-container > .container-card-item:nth-child(2),
  .product-offer-container > .container-card-item:nth-child(3) {
    flex: 0 0 25%;
  }

  .product-offer-container:nth-of-type(even) > .container-card-item:nth-child(1),
  .product-offer-container:nth-of-type(even) > .container-card-item:nth-child(2) {
    flex: 0 0 25%;
  }

  .product-offer-container:nth-of-type(even) > .container-card-item:nth-child(3) {
    flex: 0 0 50%;
  }

  .product-offer-container:nth-child(2) > .container-card-item:nth-child(3) .card-item-img {
    width: 99%;
  }

  .product-offer-container:nth-child(4) > .container-card-item:nth-child(3) .card-item-img {
    width: 99%;
  }

  .card-item-img {
    width: 98%;
    height: 98%;
  }
  /*section products offer(end)*/

  /*section login shopping experience(start)*/
  .section-login-shopping-experience {
    width: 96vw;
    height: 12vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #eee;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  .login-shopping-experience-item {
    width: 98%;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
  }

  .login-shopping-experience-item:nth-child(1) {
    width: 60vw;
    height: 56px;
    display: flex;
    justify-content: center;
  }

  .login-shopping-experience-item:nth-child(2) {
    width: 32vw;
    height: 56px;
  }

  .item-user-icon-container {
    color: white;
    width: 52px;
    height: 52px;
    background-color: rgb(48, 236, 48);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item-user-message-container {
    width: auto;
  }

  .message-paragraph {
    color: #333;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }

  .btn-login {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    width: 120px;
    height: 42px;
    border-radius: 20px;
    background-color: #343434;
  }

  .btn-signup {
    cursor: pointer;
    color: #495867;
    font-size: 16px;
    font-weight: 600;
    width: 120px;
    height: 42px;
    border: 2px solid #495867;
    border-radius: 20px;
    background: #fff;
  }
  /*section login shopping experience(end)*/

  /*section brand advertising(start)*/
  .section-brand-advertising {
    width: 100%;
    margin-top: 30px;
  }

  .brand-advertising-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 8px;
  }

  .container-item-img {
    width: 23.5%;
    height: 23.5%;
  }
  /*section brand advertising(end)*/

  /*section register sell fallabela(start)*/
  .image-link-movil {
    display: none;
  }

  .container-background-image {
    width: 98%;

    .image-link-tablet-desktop {
      display: flex;
    }
  }
  /*section register sell fallabela(end)*/

  /*section fallabela actions(start)*/
  .fallabela-actions-container {
    gap: 12px;
  }
  
  .action-container-card:nth-child(3) {
    padding-top: 0;
  }
  
  .action-container-card:nth-of-type(even) {
    flex: 0 0 10%;
    height: auto;
  }

  .action-container-card:nth-of-type(odd) {
    flex: 0 0 10%;
    height: auto;
  }

  .action-container-card:hover {
    .card-span-item {
      text-decoration: underline;
    }
  }

  .image-item-action-movil {
    display: none;

  }

  .image-item-action-desktop {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .card-span-item {
    padding-top: 8px;
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    text-decoration: none;
    color: #333;
  }
  /*section fallabela actions(end)*/

  /*section list of interest(start)*/
  .section-links-of-interest {
    height: 751px;
  }
  
  .links-of-interest-container {
    height: 690px;
    align-items: center;
    gap: 40px;
  }
  
  .container-group-links-items {
    flex-direction: row;
  }

  .item-paragraph-tittle {
    width: 70%;
  }

  .container-links-list-item:nth-child(2) {
    .item-div-list > ul > li {
      width: 60%;
    }
  }

  .container-links-list-item:nth-child(3) {
    .item-div-list > ul > li {
      width: 60%;
    }
  }

  .container-links-list-item:nth-child(4) {
    .item-div-list  {
      padding-left: 30px;
    }
  }

  .container-links-list-item:nth-child(4) > .item-paragraph-tittle {
    width: 100%;
  }
  
  .item-div-img {
    padding-bottom: 6px;
  }
  /*section list of interest(end)*/
  /*main(end)*/

  /*footer(start)*/
  .item-tittle-paragraph {
    font-size: 18px;
  }

  .container-copyright:nth-child(1) > .container-copyright-div {
    p {
      font-size: 18px;
      font-weight: 500;
    }
  }

  .container-copyright:nth-child(2) > .container-copyright-div {
    p {
      font-size: 14px;
      font-weight: 500;
    }
  }
  /*footer(end)*/
}

@media all and (min-width: 1024px) {
  .container-major {
    grid-template-columns: auto;
    grid-template-rows: 179px 1fr 561px;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  .container-header-menu-search-session-xl-xxl {
    display: none;
  }

  /*header(start)*/
  .header-container-menu {
    height: 97px;
  }

  .header-container-location {
    height: 45px;
  }
  /*header(end)*/

  /*main(start)*/
  /*section list of interest(start)*/
  .section-links-of-interest {
    height: 554px;
  }
  
  .links-of-interest-container {
    height: 477px;
  }
  
  .container-group-links-items {
    flex-direction: row;
  }

  .item-paragraph-tittle {
    width: 70%;
  }

  .container-links-list-item:nth-child(2) {
    .item-div-list > ul > li {
      width: 70%;
    }
  }

  .container-links-list-item:nth-child(3) {
    .item-div-list > ul > li {
      width: 70%;
    }
  }

  .container-links-list-item:nth-child(4) {
    .item-div-list  {
      padding-left: 30px;
    }
  }

  .container-links-list-item:nth-child(4) > .item-paragraph-tittle {
    width: 100%;
  }
  
  .item-div-img {
    padding-bottom: 6px;
  }
  /*section list of interest(end)*/
  /*main(end)*/

  /*footer(start)*/
  .footer-container:nth-child(1) {
    height: 244px;
  }
  /*footer(end)*/
}

@media all and (min-width: 1025px) {
  .container-major {
    grid-template-columns: auto;
    grid-template-rows: 157px 1fr 661px;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  .container-header-menu-location-sm-md-lg {
    display: none;
  }

  .container-header-menu-search-session-xl-xxl {
    display: flex;
    flex-direction: column;
  }

  /*header(start)*/
  .header-menu-search-session {
    flex-basis: 69px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgba(217, 211, 211, 0.15);

    .logo-item {
      width: 188px;
      margin-left: 10px;
      display: flex;

      .anchor-home {
        width: 100%;
      }

      .anchor-home > div {
        width: 100%;
        height: 100%;
        background-image: url("https://images.falabella.com/v3/assets/blt088e6fffbba20f16/blt3ff00b170df30bfa/65e93b788b9c621a9e4703eb/falabella.com_green_icon.svg");
        background-repeat: no-repeat;
        background-position: 50%;
      }
    }

    .button-menu-item {
      width: 144px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .btn-menu {
        width: 126px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;

        .container-menu-item:nth-child(1) {
          width: 30.77px;
          height: 35px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 5px;

          span {
            display: block;
            width: 20.56px;
            height: 3px;
            background-color: gray;
          }
        }

        .container-menu-item:nth-child(2) {
          width: 57.23px;
          height: 36px;
          display: flex;
          justify-content: center;
          align-items: end;
          padding-bottom: 4px;

          span {
            color: rgb(54, 45, 45);
            font-size: 20px;
            font-weight: bolder;
          }
        }
      }
    }

    .input-search-item {
      position: relative;
      flex-grow: 1;
      margin-right: 2%;
      display: flex;
      align-items: center;

      input {
        width: 100%;
        height: 46px;
        border: 1px solid black;
        border-radius: 25px;
      }

      input::placeholder {
        padding-left: 20px;
      }

      button {
        width: 46px;
        height: 46px;
        position: absolute;
        right: 0;
        border: none;
        background-color: rgb(88, 86, 86);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .session-cart-item {
      width: 335.45px;
      display: flex;

      ul {
        width: 100%;
        display: flex;
        align-items: center;

        li {
          height: 47.25px;
          display: flex;
          align-items: center;

          div > a > span {
            font-size: 20px;
          }
        }

        li > div > a {
          display: flex;
          flex-direction: column;
          text-decoration: none;
        }

        li:nth-child(1) {
          width: 128.59px;
        }

        li:nth-child(2) {
          width: 92.86px;
          justify-content: center;
          border-right: 1px solid rgb(203, 199, 199);
          border-left: 1px solid rgb(203, 199, 199);
        }

        li:nth-child(3) {
          width: 50px;
          border-right: 1px solid rgb(203, 199, 199);
        }

        li:nth-child(4) {
          width: 60px;
          padding-left: 8px;
        }
      }
    }
  }

  .header-location-information {
    flex-basis: 50px;

    nav {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;

      .location-item {
        width: 305px;
        display: flex;
        align-items: center;

        i {
          width: 40px;
          height: 40px;
          background-image: url("https://images.contentstack.io/v3/assets/blt7c5c2f2f888a7cc3/blt12bfc7a09b55ab55/6538d0cfd31953c6b30dbd57/gray_geofinder.svg");
        }

        p {
          font-weight: bolder;
          color: rgb(142, 136, 136);
          width: 260px;
          height: 22px;
          margin-top: 6px;
        }
      }

      .information-item {
        width: 460.83px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        a {
          text-decoration: none;
        }
      }
    }
  }
  /*header(end)*/

  /*footer(start)*/
  .footer {
    display: flex;
    flex-direction: column;
    background-color: transparent;
  }

  .footer-section-container:nth-child(1) {
    display: flex;
    background-color: #253745;
  }

  .footer-section-container:nth-child(2) {
    display: flex;
    flex-flow: row wrap;
    background-color: #0c2941;
  }

  .footer-section-container:nth-child(1) > .footer-container {
    width: 100%;
    height: 476px;
    padding-top: 30px;
    padding-right: 5%;
    padding-left: 5%;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .nav-list-interest-items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .item-tittle-paragraph {
    font-weight: bold;
  }
  
  .container-div-list-interest {
    height: 396px;
    width: 22%;
    margin: 0;
    border: 0;
  }
  
  .items-ul-links-laptops-desktops {
    display: flex;
    flex-direction: column;
    gap: 15px;

    li > a {
      color: #eee;
      text-decoration: none;
    }
  }

  .container-copyright:nth-child(1) {
    width: 90%;
    height: 76px;
    padding: 0;
  }

  .container-copyright:nth-child(2) {
    width: 90%;
    height: 105px;
    padding-top: 20px;
  }

  .container-copyright:nth-child(1) > .container-copyright-div {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .container-copyright:nth-child(2) > .container-copyright-div {
    padding-bottom: 10px;
  }
  /*footer(end)*/
}

@media all and (min-width: 1280px) {

  /*header(start)*/
  .header-menu-search-session {

    .logo-item {
      width: 235px;
      margin-left: 0;
    }

    .button-menu-item {
      width: 172px;
    }

    .session-cart-item {
      width: 363.45px;

      ul {

        li:nth-child(1) {
          width: 132.59px;
        }

        li:nth-child(2) {
          width: 98.86px;
        }

        li:nth-child(4) {
          width: 79px;
        }
      }
    }
  }
  /*header(end)*/

  /*footer(start)*/
  .footer-section-container:nth-child(1) > .footer-container {
    max-width: 1280px;
    margin: 0 auto;
    height: 476px;
    padding-top: 30px;
    padding-right: 0;
    padding-left: 0;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-section-container:nth-child(2) > .footer-container {
    max-width: 1280px;
    margin: 0 auto;
  }

  .container-copyright:nth-child(1), .container-copyright:nth-child(2) {
    width: 100%;
    margin: 0;
  }
  /*footer(end)*/
}

@media all and (min-width: 1440px) {

  /*header(start)*/
  .header-menu-search-session {

    .logo-item {
      width: 243px;
    }

    .button-menu-item {
      width: 196px;
    }

    .session-cart-item {
      width: 379.45px;

      ul {

        li:nth-child(1) {
          width: 136.59px;
        }

        li:nth-child(2) {
          width: 106.86px;
        }

        li:nth-child(4) {
          width: 83px;
        }
      }
    }
  }
  /*header(end)*/

  /*main(start)*/
  /*section products offer(start)*/
  .section-card-product-offer-tablet,
  .section-card-product-offer-tittle,
  .product-offer-container {
    width: 1280px;
  }

  .product-offer-container:nth-child(2) > .container-card-item:nth-child(3) .card-item-img {
    width: 97.5%;
  }

  .product-offer-container:nth-child(4)> .container-card-item:nth-child(3) .card-item-img {
    width: 97.5%;
  }

  .card-item-img {
    width: 95%;
    height: 95%;
  }
  /*section products offer(end)*/

  /*section login shopping experience(start)*/
  .section-login-shopping-experience {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    background-color: #eee;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }


  .login-shopping-experience-item {
    width: 98%;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
  }

  .login-shopping-experience-item:nth-child(1) {
    height: 56px;
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
    gap: 20px;
  }

  .login-shopping-experience-item:nth-child(2) {
    width: 361px;
    height: 42px;
    justify-content: flex-end;
    padding-right: 30px;
  }

  .item-user-icon-container {
    color: white;
    width: 52px;
    height: 52px;
    background-color: rgb(48, 236, 48);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item-user-message-container {
    width: auto;
  }

  .message-paragraph {
    color: #333;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    line-height: 27px;
  }

  .btn-login {
    width: 170px;
    height: 42px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
    background-color: #343434;
  }

  .btn-signup {
    width: 170px;
    height: 42px;
    cursor: pointer;
    color: #495867;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #495867;
    border-radius: 20px;
  }
  /*section login shopping experience(end)*/

  /*section brand advertising(start)*/
  .brand-advertising-container {
    max-width: 1280px;
  }

  .container-item-img {
    width: 24.5%;
    height: 24.5%;
  }
  /*section brand advertising(end)*/

  /*section register sell fallabela(start)*/
  .container-background-image {
    width: 100%;
  }
  /*section register sell fallabela(end)*/

  /*section list of interest(start)*/
  .section-links-of-interest {
    height: 513px;
  }
  
  .links-of-interest-container {
    max-width: 1280px;
    margin: auto;
    height: 436px;
  }
  
  .container-group-links-items {
    width: 1280px;
    flex-direction: row;
  }

  .item-paragraph-tittle {
    width: 100%;
  }

  .item-div-paragraph {
       
    p {
      text-decoration: none;
    }
  }

  .container-links-list-item:nth-child(2) {
    .item-div-list > ul > li {
      width: 100%;
    }
  }

  .container-links-list-item:nth-child(3) {
    .item-div-list > ul > li {
      width: 100%;
    }
  }

  .container-links-list-item:nth-child(4) {
    .item-div-list  {
      padding-left: 30px;
    }
  }
  /*section list of interest(end)*/
  /*main(end)*/
}

@media all and (min-width: 1680px) {

  /*header(start)*/
  .header-menu-search-session {

    .logo-item {
      width: 259px;
    }

    .session-cart-item {
      width: 402.45px;

      ul {

        li:nth-child(4) {
          width: 106px;
          padding-left: 15px;
        }
      }
    }
  }
  /*header(end)*/
}